extends layouts/default.pug

//- Utils --------------------------------------------------------------------------------------------------------

//- Content -------------------------------------------------------------------------------------------------------
block content

//- Scripts -------------------------------------------------------------------------------------------------------
block scripts